<%- partial('./partials/bodyBefore.ejs') -%>

<%- partial('../partials/header/header.ejs') -%>


<div class="pageWrapper">
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <%- partial('../partials/body/artists-single.ejs') -%>
        </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
</div>


<%- partial('./partials/bodyAfter.ejs') -%>