<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" href="../../../theme/styles.css">
        <link rel="stylesheet" href="../../../vendor/bootstrap.css">
    </head>
    <body>